<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="displayheight" content="600" />
    <title><%= data.title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="carousel">
      <% data.moduleData.forEach((module, index) => { %> <%- include(__dirname + '/slide.ejs', { module: module, index: index }) %> <% }) %>
    </main>
    <script src="observer.js"></script>
    <script src="script.js" defer></script>
    <script src="amplitude.min.js.gz"></script>
    <script src="amplitude-wrapper.min.js"></script>
    <script src="amplitude-tracking.min.js" defer></script>
    <script src="lazy-load-videos.js" defer></script>
  </body>
</html>
