<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="displayheight" content="600" />
    <title><%= data.title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <div class="product-backdrop">
        <img src="./assets/title.webp" alt="store title" class="store-title" />
        <img src="./assets/sub-title.webp" alt="store subtitle" class="store-subtitle" />
      </div>
      <video src="<%= data.moduleData.srcURL %>" autoplay muted loop class="product-main"></video>
      <section class="collection-container">
        <div class="collection">
          <% data.moduleData.products.forEach(product => { %>
          <a href="<%= product.handle %>" target="_blank" class="product"
            ><img src="<%= product.image %>" alt="<%= product.productTitle %>" class="product-image" />
            <p class="product-title"><%= product.productTitle %></p>
            <p class="product-price">$<%= product.price %></p></a
          >
          <% }) %>
        </div>
      </section>
      <div class="control-buttons">
        <button class="control-button left">
          <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.05962 8.36644L1.20506 4.51189L5.05962 0.65733"
              stroke="currentColor"
              stroke-width="0.925093"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="control-button right">
          <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.940384 0.657333L4.79494 4.51189L0.940384 8.36644"
              stroke="currentColor"
              stroke-width="0.925093"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </main>

    <script src="script.js"></script>
  </body>
</html>
