@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.woff') format('woff');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./assets/fonts/Inter-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'LiberationSans-SemiBold';
  src: url('./assets/fonts/LiberationSans-Bold.woff') format('woff');
}
:root {
  --shopsense-base-width: 912px;
  --shopsense-base-height: 385px;
}
main.shopsense-ad {
  width: 100%;
  height: 100%;
}
main.shopsense-ad * {
  font-family: 'Inter';
}
main.shopsense-ad *.text-semibold {
  font-family: 'Inter-SemiBold' !important;
}
.shopsense-ad .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: calc(var(--shopsense-base-width) * 0.033);
  padding-right: 0;
  border-radius: calc(var(--shopsense-base-width) * 0.011) !important;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}
.shopsense-ad .header {
  padding-right: calc(var(--shopsense-base-width) * 0.0275);
  flex: 0 0 calc(var(--shopsense-base-height) * 0.1351);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.shopsense-ad .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shopsense-ad .logo {
  width: calc(var(--shopsense-base-width) * 0.063);
  height: calc(var(--shopsense-base-height) * 0.096);
  margin-right: calc(var(--shopsense-base-width) * 0.011);
}
.shopsense-ad .logo-label {
  font-family: 'LiberationSans-SemiBold' !important;
  font-size: calc(var(--font-size) * 0.85);
  font-weight: 700;
  /* line-height: calc(var(--shopsense-base-height) * 0.039); */
  line-height: normal;
  color: #1d1e1f;
}
.shopsense-ad .control-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--shopsense-base-width) * 0.011);
}
.shopsense-ad .control-button {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.shopsense-ad .control-button.left {
  transform: rotate(180deg);
}
.shopsense-ad .control-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.shopsense-ad .products-container {
  padding: calc(var(--shopsense-base-height) * 0.045) calc(var(--shopsense-base-width) * 0.014);
  max-width: 100%;
  overflow: auto;
  display: flex;
  flex: 1;
}
.shopsense-ad .products-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: calc(var(--shopsense-base-width) * 0.02);
}
.shopsense-ad .product-card {
  display: flex;
  flex-direction: column;
  width: calc(var(--shopsense-base-width) * 0.185);
  min-width: 10rem;
}
.shopsense-ad .product-card-header {
  flex: 1;
  position: relative;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.shopsense-ad .product-card-header .product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopsense-ad .product-card-header .retail-logo {
  position: absolute;
  left: calc(var(--shopsense-base-width) * 0.009);
  top: calc(var(--shopsense-base-width) * 0.009);
  width: calc(var(--shopsense-base-width) * 0.0265);
  height: calc(var(--shopsense-base-width) * 0.0265);
  border-radius: calc(var(--shopsense-base-width) * 0.005);
  z-index: 5;
  object-fit: contain;
  background: #fff;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.1);
}
.shopsense-ad .product-card-header .indicator {
  position: absolute;
  right: calc(var(--shopsense-base-width) * 0.009);
  top: calc(var(--shopsense-base-width) * 0.009);
  z-index: 5;
}
.shopsense-ad .product-card .chip {
  border-radius: calc(var(--shopsense-base-width) * 0.015) !important;
  padding: calc(var(--shopsense-base-width) * 0.009) calc(var(--shopsense-base-width) * 0.009) !important;
  font-size: calc(var(--shopsense-base-width) * 0.01) !important;
}
.shopsense-ad .product-card-content {
  padding: calc(var(--shopsense-base-width) * 0.011);
  padding-bottom: calc(var(--shopsense-base-width) * 0.007);
  display: flex;
  flex-direction: column;
}
.shopsense-ad .product-card .divider-container {
  padding: 0 calc(var(--shopsense-base-width) * 0.011);
}
.shopsense-ad .product-card .divider {
  margin-top: calc(var(--shopsense-base-height) * 0.015);
  margin-bottom: calc(var(--shopsense-base-height) * 0.015);
}
.shopsense-ad .text-xxs {
  font-size: calc(var(--shopsense-base-width) * 0.011) !important;
}
.shopsense-ad .text-compact-small {
  font-size: calc(var(--shopsense-base-width) * 0.0143) !important;
}
.shopsense-ad .product-card .text-price-label,
.shopsense-ad .product-card .text-price-label * {
  font-family: 'Inter-SemiBold';
}
.shopsense-ad .product-card .base-price {
  font-family: 'Inter';
}
.shopsense-ad .product-card .product-title {
  font-weight: 400 !important;
}

/* Container queries for responsiveness */
.shopsense-ad {
  container-type: inline-size !important;
  container-name: shopsenseembed !important;
}

.shopsense-ad .card {
  border-radius: calc(var(--shopsense-base-width) * 0.011) !important;
}

.shopsense-ad .sponsored-label {
  left: 0.5rem !important;
  top: 0.5rem !important;
  font-family: 'Inter' !important;
}

@container shopsenseembed (max-width: 768px) {
  .shopsense-ad .main-container {
    --shopsense-base-width: 688px;
    --shopsense-base-height: calc(var(--shopsense-base-width) * 0.4953);
  }
}

@container shopsenseembed (min-width: 769px) and (max-width: 911px) {
  .shopsense-ad .main-container {
    --shopsense-base-width: 768px;
    --shopsense-base-height: calc(var(--shopsense-base-width) * 0.422);
  }
}

@container shopsenseembed (min-width: 912px) {
  .shopsense-ad .main-container {
    --shopsense-base-width: 912px;
    --shopsense-base-height: calc(var(--shopsense-base-width) * 0.422); /* Maintain aspect ratio 912/385 (BASE DESIGN DIMENSIONS) */
  }
}
