<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="displayheight" content="600" />
    <title><%= data.title %></title>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="style.css" />
    <script>
      var clickTag = '<%= data.clickTag %>';
    </script>
  </head>
  <body>
    <main class="shopsense-ad">
      <div class="product-backdrop"></div>
      <div class="header">
        <div class="logo">
          <%- data.meta.logo %>
        </div>
        <h2 class="subTitle"><%= data.meta.subTitle %></h1>
      </div>
      <% if (data.moduleData.media === 'video') { %> <%- include(__dirname + '/../shared/video-media.ejs', { srcURL: data.moduleData.srcURL, title:
      data.moduleData.title }) %> <% } else if (data.moduleData.media === 'image') { %> <%- include(__dirname + '/../shared/picture-media.ejs', { srcURL:
      data.moduleData.srcURL, title: data.moduleData.title }) %> <% } %>
      <section class="collection-container">
        <div class="collection">
          <% data.moduleData.products.forEach(product => { %>
          <a href="javascript:void(0);" onclick="window.open('<%= product.handle %>', '_blank')" data-item="<%= JSON.stringify({ productTitle: product.productTitle }) %>" class="product"
            ><img src="<%= product.image %>" alt="<%= product.productTitle %>" class="product-image" />
            <p class="product-title"><%= product.productTitle %></p>
            <p class="product-price">$<%= product.price %></p></a
          >
          <% }) %>
        </div>
      </section>
      <div class="control-buttons">
        <button class="control-button left">
          <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.05962 8.36644L1.20506 4.51189L5.05962 0.65733"
              stroke="currentColor"
              stroke-width="0.925093"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="control-button right">
          <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.940384 0.657333L4.79494 4.51189L0.940384 8.36644"
              stroke="currentColor"
              stroke-width="0.925093"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <div class="footer">
        <h3 class="footer-text"><%= data.meta.footerText %></h3>
        <a class="collection-cta-button button" href="<%= data.clickTag %>" target="_blank" onclick="window.open(clickTag, '_blank')" data-item="<%= JSON.stringify({ title: data.title, url: data.collection_url }) %>">Shop Now!</a>
      </div>
    </main>

    <script src="amplitude.min.js"></script>
    <script src="observer.js"></script>
    <script src="script.js" defer></script>
    <script src="amplitude-wrapper.min.js"></script>
    <script src="amplitude-tracking.min.js" defer></script>
    <script src="lazy-load-videos.js" defer></script>
  </body>
</html>
