* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: serif, Helvetica, Arial;
  width: 100%;
  height: 100%;
  font-size: 70%;
  line-height: normal;
  background-color: #fff;
}

.button {
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #000000;
  color: #fff;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  outline: none;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #333;
}

.product-main {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  z-index: 2;
  -webkit-border-radius: calc(100vw * 0.058);
  -moz-border-radius: calc(100vw * 0.058);
  -ms-border-radius: calc(100vw * 0.058);
  -o-border-radius: calc(100vw * 0.058);
  border-radius: calc(100vw * 0.058);
}
